@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
	resize: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
:root {
	--clr-primary-blue: hsl(238, 40%, 52%);
	--clr-primary-greyish-blue: hsl(239, 57%, 86%);
	--clr-primary-red: hsl(358, 79%, 66%) A;
	--clr-primary-pal-red: hsl(357, 100%, 86%);

	--clr-neutral-darkblue: hsl(212, 24%, 26%);
	--clr-neutral-grayish-blue: hsl(211, 10%, 45%);
	--clr-neutral-lightgray: hsl(223, 19%, 93%);
	--clr-neutral-very-lightgray: hsl(228, 33%, 97%);
	--clr-neutral-white: hsl(0, 0%, 100%);
	--f-default: 16px;

	--mob-max: 376px;
	--desk-max: 1440px;
}
body {
	background-color: var(--clr-neutral-lightgray);
	font-family: "Rubik", sans-serif;
	font-size: 16px;
	height: 100%;
	line-height: 1.4;
	overflow: hidden;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

@media (min-width: 767px) {
	main {
		max-width: 1000px;
		margin-inline: auto;
		padding: 3rem;
	}
}
@media (max-width: 768px) {
	:root {
		font-size: 0.8rem;
	}
	main {
		padding: 0 0.1rem;
	}
}
@media (max-width: 960px) {
	:root {
		font-size: 16px;
	}
}
@media (max-width: 532px) {
	.main__add-comment {
		flex-direction: column;
	}
	.main__add-comment > *:not(:last-child) {
		margin-bottom: 1rem;
	}
}

/* Btn */
.hidden {
	display: none;
}
.btn {
	border: none;
	border-radius: 7px;
	cursor: pointer;
	color: var(--clr-neutral-white);
	font-size: 0.7rem;
	font-weight: 400;
}

.btn.btn-send {
	background-color: var(--clr-primary-blue);
	padding: 0.5rem 1.1rem;
	text-transform: uppercase;
	transition: all 0.5s ease;
}
.btn.show-replies {
	background-color: var(--clr-primary-blue);
	color: var(--clr-neutral-white);
	margin-top: 0.7rem;
	padding: 0.2rem 0.4rem;
	transition: scale 0.2s ease;
}
.btn.hide-replies {
	background-color: var(--clr-primary-pal-red);
	color: var(--clr-neutral-darkblue);
	font-weight: 700;
}
.btn.show-replies:hover {
	scale: 1.05;
}

.btn.btn-send:hover {
	background-color: var(--clr-primary-greyish-blue);
	color: var(--clr-neutral-darkblue);
}
.btn.btn-send:focus {
	outline: 2px solid var(--clr-primary-pal-red);
}
.avatar-container {
	width: 1.7em;
}

.avatar-container img {
	object-fit: cover;
}

/* Main */
.main__comments-container {
	display: flex;
	flex-direction: column;
}
.main__add-comment {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: var(--clr-neutral-white);
	border-radius: 7px;
	padding: 1rem 2rem;
	box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.main__add-comment textarea {
	flex: 1;
	padding: 0.7rem;
	border-color: var(--clr-neutral-lightgray);
	border-radius: 5px;
	font-size: 0.8rem;
}
/* Selection Color */
.main__add-comment textarea::selection {
	background-color: var(--clr-primary-pal-red);
}

.main__add-comment textarea::-moz-selection {
	background-color: var(--clr-primary-pal-red);
}

.main__add-comment textarea:focus {
	outline: 1px solid var(--clr-primary-blue);
}

.main__add-comment > *:not(:last-child) {
	margin-right: 1rem;
}
.main__comments-container {
	width: 100%;
	overflow-y: auto;
}
.each-comment-container {
	width: 100%;
}
.main__comments-container__comment {
	background: var(--clr-neutral-white);
	display: flex;
	margin-bottom: 1rem;
	border-radius: 7px;
	padding: 1rem;
	transition: all 0.5s ease;
}
/* Left */
.main__comments-container__comment-left {
	color: var(--clr-primary-blue);
}

.main__comments-container__comment-left .score {
	background-color: var(--clr-neutral-lightgray);
	border-radius: 7px;
	padding: 0.7rem 0.3rem;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__comments-container__comment-left .score > *:not(:last-child) {
	margin-bottom: 1rem;
}
.score-change-buttons img {
	object-fit: contain;
}

.score-change-buttons {
	transition: scale 0.2s ease-in;
}
.score-change-buttons:hover {
	scale: 1.4;
}
/* Right */
.main__comments-container__comment-right {
	flex: 1;
	width: 100%;
	padding: 0.4rem 1rem;
}

.main__comments-container__comment-right p::selection {
	background-color: var(--clr-primary-pal-red);
	color: black;
}
.main__comments-container__comment-right p::-moz-selection {
	background-color: var(--clr-primary-pal-red);
	color: black;
}

.main__comments-container__comment-right header {
	display: flex;
	margin-bottom: 1rem;
	justify-content: space-between;
}

.main__comments-container__comment-right header > div:first-child {
	display: flex;
	align-items: center;
}
.main__comments-container__comment-right
	header
	> div:first-child
	> *:not(:last-child) {
	margin-right: 1rem;
}
.main__comments-container__comment-right
	header
	> div:first-child
	.avatar-container {
	width: 1.5rem;
}
.main__comments-container__comment-right header span[data-time-ago] {
	color: var(--clr-neutral-grayish-blue);
	font-size: 0.6rem;
}
.reply-btn {
	display: flex;
	align-items: center;
	color: var(--clr-primary-blue);
	transition: all 0.2s ease;
}

.reply-btn:hover {
	cursor: pointer;
}

.reply-btn:hover > img {
	rotate: 180deg;
}

.reply-btn img {
	margin-right: 0.3rem;
	object-fit: contain;
	width: 0.7rem;
	transition: all 0.2s ease;
}

.main__comments-container__comment-right .comment-content {
	color: var(--clr-neutral-grayish-blue);
	font-size: 0.8rem;
}

.each-comment-container__replys {
	width: 100%;
	margin-bottom: 1rem;
	padding-left: 4rem;
	position: relative;
}
.each-comment-container__replys:not(:has(:first-child)) {
	display: none;
}

.each-comment-container__replys::before {
	content: "";
	background-color: var(--clr-primary-greyish-blue);
	width: 1px;
	height: 100%;
	top: 0;
	left: 2rem;

	position: absolute;
}
